<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdw.mapper.MyUserMapper">


    <select id="selectAllUsers" resultType="com.jdw.pojo.User">
        select * from user
    </select>

    <select id="selectMyPage" resultType="com.jdw.pojo.User">
        select * from user ${ew.customSqlSegment}
    </select>

</mapper>
